/* Navigation */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav li {
    display: inline-block;
}
.main-nav a {
    color: #454545;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 10px 20px;
    display: inline-block;
}
/* Progress bar */
.progress-container {
    border-radius: 10px;
    background-color: lightgrey;
}
.progress {
    height: 0.5rem;
    background-color: royalblue;
    border-radius: 10px;
}
.progress.percent-80 {
    width: 80%;
}
.progress.percent-70 {
    width: 70%;
}